#content {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid red;
}

#search-form {
  width: 90%;
  margin: 2rem auto 0;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#location-input {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

#submit {
  border: none;
  background: transparent;
}

.debug-info {
  display: none;
}